<h1>Chao-Data List</h1>

<% @lists.each do |list| %>

<p>Name</p>
<span><%= link_to list.name, chao_path(list.id) %></span>

<p>Image</p>
 <% if list.image.attached? %>
 <%= image_tag list.image,size:"200*200" %>
 <% else %>
  <%= image_tag 'no_image',size:"200*200" %>
 <% end %>

<% end %>